.product-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
}
.box {
  height: fit-content;
  background-color: white;
}
.title {
  text-align: center;
  font-weight: 900;
}
.product-bar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #666666;
  height: 100%;
  background-color: #fff;
  border: 1px solid red;
}
.left-prod-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-prod-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.active-hover {
  color: #333;
  border-color: #797979;
}

.product-items {
  color: #888;
  font-size: 15px;
  line-height: 1.2;
  border-bottom: 1px solid transparent;
  margin-right: 32px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.product_card {
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
}
.items {
  border-right: 1px solid gray;
  padding: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header-items {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.each-items {
  border-left: 1px solid grey;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  float: right;
}
.navbar2 {
  display: flex;
  flex-direction: row;
  /* position: fixed; */
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.logo {
  display: flex;
  margin-left: 55px;
}
span {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  list-style: none;
}
.header-items {
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  font-size: medium;
  width: 30%;
}
.wrap-icon-header {
  display: flex;
}
.icon-header-search {
  display: block;
  padding: 1rem 1rem;
}
.icon-header-cart {
  display: block;
  padding: 1rem 1rem;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon-header-wishlist {
  display: block;
  padding: 1rem 1rem;
}

.cart-name {
  font-size: small;
}
.cat-icon {
  display: block;
  padding: 1rem 1rem;
  width: 20px;
  height: 20px;
}

.footer-div {
  background-color: #212529;
  padding-bottom: 32px;
  padding-top: 30px;
  display: block;
  margin-bottom: 8px;
  font-family: sans-serif;
}
.col3 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
/* .container3 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  } */
.social {
  color: #b2b2b2;
  padding-top: 27px;
  display: flex;
  flex-direction: row;
}
.brand-logo {
  margin-right: 16px;
  font-size: 18px;
  color: #b2b2b2;
}
/* .lists {
    color: #b2b2b2;
  } */
a {
  color: #212529;
}
.input1 {
  color: white;
  border: none;
  background-color: #212529;
}
.col2 {
  background-color: #212529;
  align-items: center;
}
.subscribe {
  border-radius: 23px;
  background-color: #717fe0;
  height: 46px;
  min-width: 179px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}
.wrap-input {
  background-color: transparent;
  border: none;
}

.label1::after {
  content: attr(data-label1);
  font-family: Poppins-Regular;
  font-size: 10px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: absolute;
  top: 84px;
  right: 48%;
  height: 15px;
  min-width: 32px;
  border-radius: 7px;
  padding: 0 4px;
  background-color: #f74877;
}
form {
  color: #212529;
}
.text-hov {
  color: white;
}

body {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 766px) {
  .product-bar {
    display: none;
  }

  .product_card {
    width: 30%;
    height: 250px;
  }
}
